/*字体颜色*/
$fontColor-gray-1 = #333
$fontColor-gray-2 = #999
$fontColor-red-1 = #E39393
$fontColor-blue-1 = #7FBEDB
$fontColor-blue-2 = #7487C1
$fontColor-green-1 = #B5E2B5


/*背景颜色*/
$bgColor-gray1 = #F5F5F5
$bgColor-white = #fff

/*度量衡*/
$w375 = 3.75rem
$home-bookImg-width = 1rem
$home-bookImg-height = 1.34rem

/*number*/
$spot-01 = 0.01rem
$spot-05 = 0.05rem
$spot-1 = 0.1rem
$spot-15 = 0.15rem
$spot-2 = 0.2rem
$spot-25 = 0.25rem
$spot-5 = 0.5rem
$font-12 = 0.12rem
$font-14 = 0.14rem
$font-16 = 0.16rem
$font-18 = 0.18rem

/*其它*/
$button-white = #fff
$button-orange = #FB8A63
$shadow = 0 -2px 4px 0 rgba(0,0,0,0.08)